* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #081b31;
    color: #fff; 
    height: 5rem; 
    line-height: 5rem;
    text-align: center;
}

.choice:hover {
    opacity: 0.5;
    cursor: pointer;
    border-radius: 50%;
}

.choice {
    height: 100px;
    width: 100px;
}

img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
    margin-top: 3rem;
}

#user-score, #comp-score {
    font-size: 3rem;
}

.msg-container {
    background-color: #081b31;
    color: white;
    height: 5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}